layout {
    tab name="general" {
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }

        pane

        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="system" {
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }

        pane command="btop" name="btop" start_suspended=true

        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="project" {
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }

        pane split_direction="vertical" {
            pane name="project pane"

            pane split_direction="horizontal" {
                pane name="docker pane"
                pane name="test pane"
            }
        }

        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}