layout {
    tab name="💻 general" {
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }

        pane

        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="🩺 health" {
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }

        pane command="btop" name="btop" start_suspended=true

        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="terminal" {
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }

        pane split_direction="vertical" {
            pane name="project pane"
            pane name="docker pane"
        }

        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}